<!DOCTYPE html>
<html>
  <body class="">
    <%= require('./../includes/header.html').default %>
    <main>
      <section class="pt-28 lg:pt-48 mb-16 lg:mb-28">
        <div class="container">
          <h3 class="font-bold text-grey text-4xl mb-6 lg:mb-16">Відсів</h3>
          <div class="flex flex-col lg:flex-row lg:justify-between">
            <div class="relative lg:w-5/12 lg:pr-6 mb-8 lg:mb-0">
              <div class="swiper-container slider-documents">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <img
                      src="/images/document-1.png"
                      class="w-full h-full object-cover"
                    />
                  </div>
                  <div class="swiper-slide">
                    <img
                      src="/images/document-2.png"
                      class="w-full h-full object-cover"
                    />
                  </div>
                  <div class="swiper-slide">
                    <img
                      src="/images/document-3.png"
                      class="w-full h-full object-cover"
                    />
                  </div>
                  <div class="swiper-slide">
                    <img
                      src="/images/document-4.png"
                      class="w-full h-full object-cover"
                    />
                  </div>
                  <div class="swiper-slide">
                    <img
                      src="/images/document-5.png"
                      class="w-full h-full object-cover"
                    />
                  </div>
                  <div class="swiper-slide">
                    <img
                      src="/images/document-6.png"
                      class="w-full h-full object-cover"
                    />
                  </div>
                  <div class="swiper-slide">
                    <img
                      src="/images/document-7.png"
                      class="w-full h-full object-cover"
                    />
                  </div>
                  <div class="swiper-slide">
                    <img
                      src="/images/document-8.png"
                      class="w-full h-full object-cover"
                    />
                  </div>
                </div>
                <div class="buttons">
                  <div class="swiper-button button-prev"></div>
                  <div
                    class="swiper-button swiper-button--next button-next"
                  ></div>
                </div>
              </div>

              <div class="swiper-pagination swiper-pagination--documents"></div>
            </div>
            <div class="lg:w-7/12">
              <p class="mb-8">
                Щебінь з Шамраївського гранітного кар’єру проходить усі
                необхідні лабораторні випробування. Ми працюємо лише з
                сертифікованими матеріалами, адже це наша гарантія якості для
                щебню з кар’єру.
              </p>

              <div class="list">
                <p>
                  Сертифікат відповідності піску з відсівів дроблення фр. понад
                  0 мм до 5 мм, 5 травня 2020 р.
                </p>
                <p>
                  Сертифікат відповідності щебню фр. 5-10, 10-20 мм, 15 червня
                  2020 р.
                </p>
                <p>
                  Сертифікат відповідності щебню фр. 5-20, 20-40 мм, 5 травня
                  2020 р.
                </p>
                <p>
                  Сертифікат відповідності щебнево-піщаної суміши фр. 0-40, 0-70
                  мм, 15 червня 2020 р.
                </p>
                <p>
                  Протокол випробування щебню фр. 5-10, 10-20 мм, 23 липня 2020
                  р.
                </p>
                <p>
                  Протокол випробування щебню фр. 0-5, 5-20, 20-40, 40-70 мм,
                  суміш Сх5, Сх7, бутового камню, 23 липня 2020 р.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <%= require('./../includes/footer.html').default %> <%=
    require('./../includes/defs.html').default %>
  </body>
</html>
