<!DOCTYPE html>
<html>
  <body class="">
    <%= require('./../includes/header.html').default %>
    <main>
      <section class="pt-28 lg:pt-48 mb-16 lg:mb-32">
        <div class="container">
          <h3 class="font-bold text-grey text-4xl mb-6 lg:mb-16">Продукція</h3>
          <div class="grid grid-cols-1 lg:grid-cols-3 gap-12 mb-10 lg:mb-16">
            <div class="fraction-card group">
              <a
                href="product.html"
                class="block font-bold text-xl text-center text-grey group-hover:text-orange transition-colors duration-300 mb-3 fraction-card__title"
                >Відсів</a
              >
              <div class="relative mb-6">
                <img
                  src="/images/fraction-1.png"
                  class="w-full h-48 lg:h-32 object-cover"
                />
                <div class="absolute bottom-0 right-0 bg-orange p-2">
                  <p>100 грн/т</p>
                </div>
              </div>
              <p class="flex justify-between mb-6">
                <span>Щільність</span>
                <span>1,53</span>
              </p>
              <button
                class="bg-orange font-semibold rounded-lg mx-auto block py-2 px-12 w-full lg:w-auto fraction-card__button js-modal-call"
                data-modal-target="modal-order"
                data-type="vidsiv"
              >
                Замовити
              </button>
            </div>
            <div class="fraction-card group">
              <a
                href="product.html"
                class="block font-bold text-xl text-center text-grey group-hover:text-orange transition-colors duration-300 mb-3 fraction-card__title"
                >Відсів</a
              >
              <div class="relative mb-6">
                <img
                  src="/images/fraction-1.png"
                  class="w-full h-48 lg:h-32 object-cover"
                />
                <div class="absolute bottom-0 right-0 bg-orange p-2">
                  <p>100 грн/т</p>
                </div>
              </div>
              <p class="flex justify-between mb-6">
                <span>Щільність</span>
                <span>1,53</span>
              </p>
              <button
                class="bg-orange font-semibold rounded-lg mx-auto block py-2 px-12 w-full lg:w-auto fraction-card__button js-modal-call"
                data-modal-target="modal-order"
                data-type="vidsiv"
              >
                Замовити
              </button>
            </div>
            <div class="fraction-card group">
              <a
                href="product.html"
                class="block font-bold text-xl text-center text-grey group-hover:text-orange transition-colors duration-300 mb-3 fraction-card__title"
                >Відсів</a
              >
              <div class="relative mb-6">
                <img
                  src="/images/fraction-1.png"
                  class="w-full h-48 lg:h-32 object-cover"
                />
                <div class="absolute bottom-0 right-0 bg-orange p-2">
                  <p>100 грн/т</p>
                </div>
              </div>
              <p class="flex justify-between mb-6">
                <span>Щільність</span>
                <span>1,53</span>
              </p>
              <button
                class="bg-orange font-semibold rounded-lg mx-auto block py-2 px-12 w-full lg:w-auto fraction-card__button js-modal-call"
                data-modal-target="modal-order"
                data-type="vidsiv"
              >
                Замовити
              </button>
            </div>
            <div class="fraction-card group">
              <a
                href="product.html"
                class="block font-bold text-xl text-center text-grey group-hover:text-orange transition-colors duration-300 mb-3 fraction-card__title"
                >Відсів</a
              >
              <div class="relative mb-6">
                <img
                  src="/images/fraction-1.png"
                  class="w-full h-48 lg:h-32 object-cover"
                />
                <div class="absolute bottom-0 right-0 bg-orange p-2">
                  <p>100 грн/т</p>
                </div>
              </div>
              <p class="flex justify-between mb-6">
                <span>Щільність</span>
                <span>1,53</span>
              </p>
              <button
                class="bg-orange font-semibold rounded-lg mx-auto block py-2 px-12 w-full lg:w-auto fraction-card__button js-modal-call"
                data-modal-target="modal-order"
                data-type="vidsiv"
              >
                Замовити
              </button>
            </div>
            <div class="fraction-card group">
              <a
                href="product.html"
                class="block font-bold text-xl text-center text-grey group-hover:text-orange transition-colors duration-300 mb-3 fraction-card__title"
                >Відсів</a
              >
              <div class="relative mb-6">
                <img
                  src="/images/fraction-1.png"
                  class="w-full h-48 lg:h-32 object-cover"
                />
                <div class="absolute bottom-0 right-0 bg-orange p-2">
                  <p>100 грн/т</p>
                </div>
              </div>
              <p class="flex justify-between mb-6">
                <span>Щільність</span>
                <span>1,53</span>
              </p>
              <button
                class="bg-orange font-semibold rounded-lg mx-auto block py-2 px-12 w-full lg:w-auto fraction-card__button js-modal-call"
                data-modal-target="modal-order"
                data-type="vidsiv"
              >
                Замовити
              </button>
            </div>
            <div class="fraction-card group">
              <a
                href="product.html"
                class="block font-bold text-xl text-center text-grey group-hover:text-orange transition-colors duration-300 mb-3 fraction-card__title"
                >Відсів</a
              >
              <div class="relative mb-6">
                <img
                  src="/images/fraction-1.png"
                  class="w-full h-48 lg:h-32 object-cover"
                />
                <div class="absolute bottom-0 right-0 bg-orange p-2">
                  <p>100 грн/т</p>
                </div>
              </div>
              <p class="flex justify-between mb-6">
                <span>Щільність</span>
                <span>1,53</span>
              </p>
              <button
                class="bg-orange font-semibold rounded-lg mx-auto block py-2 px-12 w-full lg:w-auto fraction-card__button js-modal-call"
                data-modal-target="modal-order"
                data-type="vidsiv"
              >
                Замовити
              </button>
            </div>
          </div>
        </div>
      </section>

      <section class="mb-16 lg:mb-20">
        <div class="container">
          <h3 class="font-bold text-grey text-4xl mb-6 lg:mb-16">
            Карта щебню
          </h3>

          <div class="overflow-x-auto lg:overflow-visible">
            <div
              class="fraction-container flex justify-between items-end mb-12 js-hover-container"
            >
              <div class="fraction-description fraction-description--1">
                <p>Дорожне будівництво</p>
              </div>
              <div class="fraction-description fraction-description--2">
                <p>ФЕМ</p>
                <p>Тротуарна плитка</p>
                <p>Ландшафтний дизайн</p>
                <p>Бетонні вироби</p>
              </div>
              <div class="fraction-description fraction-description--3">
                <p>Товарний бетон</p>
                <p>Бетонні вироби</p>
              </div>
              <div class="fraction-description fraction-description--4">
                <p>Загальнобудівельні роботи</p>
                <p>ЖД і дорожнє будівництво</p>
                <p>Засипка котлованів</p>
                <p>Формування відсипів</p>
              </div>
            </div>

            <div class="fractions-line relative flex justify-between">
              <div data-item="1" class="fraction-block js-hover-item">
                <p>Відсів</p>
              </div>
              <div data-item="1" class="fraction-block js-hover-item">
                <p>0-40</p>
              </div>
              <div data-item="1" class="fraction-block js-hover-item">
                <p>0-70</p>
              </div>
              <div data-item="23" class="fraction-block js-hover-item">
                <p>5-10</p>
              </div>
              <div data-item="3" class="fraction-block js-hover-item">
                <p>10-20</p>
              </div>
              <div data-item="4" class="fraction-block js-hover-item">
                <p>20-40</p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="mb-16 lg:mb-20">
        <div class="container">
          <h3 class="font-bold text-grey text-4xl mb-6 lg:mb-16 uppercase">
            FAQ
          </h3>
          <div class="">
            <p class="accordion__title js-accordion-title">
              Яка вартість доставки щебеню в Київ?
            </p>
            <p class="accordion__text js-accordion-content">
              Вартість доставки з Шамраївського кар'єра залежить від адреси
              доставки, прорахувати ціну доставки щебеню ви можете
              <a href="shipping.html">тут</a> .
            </p>
            <p class="accordion__title js-accordion-title">
              Чому доставка з кар'єра здійснюється від 30 тонн?
            </p>
            <p class="accordion__text js-accordion-content">
              Вантажопідйомність самоскида становить 30 тонн. Найбільш вигідний
              варіант - замовляти матеріал з доставкою по 30 тонн
            </p>

            <p class="accordion__title js-accordion-title">
              Чи можливий самовивіз щебеню?
            </p>
            <p class="accordion__text js-accordion-content">
              Ви можете самостійно забрати матеріал за адресою Київська обл.,
              Сквирский р-н, с.Шамраївка, вул. Центральна, 5
            </p>

            <p class="accordion__title js-accordion-title">
              Чому ціни на матеріал вказані без доставки?
            </p>
            <p class="accordion__text js-accordion-content">
              Ціни на матеріал вказані без доставки, тому що ціна доставки
              залежить від відстані та місця розташування об'єкта. Ви можете
              прорахувати вартість доставки
              <a href="shipping.html">у нас на сайті</a>, або ж залишити заявку
              і наші менеджери проконсультують вас.
            </p>
          </div>
        </div>
      </section>

      <section>
        <div class="container">
          <div class="text-block mb-10 lg:mb-16">
            <h3>Купити щебінь в Києві за доступною ціною</h3>
            <p>
              Шамраївський гранітний кар'єр розташований в Київській області.
              Тут в промислових масштабах добувають матеріали з відсіву
              дроблення, щебінь для будівельних робіт, щебнево-піщані суміші для
              покриттів і основ автомобільних доріг і аеродромів, щебінь для
              баластного шару залізничної колії.
            </p>
            <p>
              Щебінь з Шамраївського гранітного кар’єру - це будівельний
              матеріал, отриманий шляхом трьохетапного подрібнення гранітного
              каменю і чотирьохетапного просіювання, що дає нам можливість
              виготовляти високоякісний щебінь різних фракцій з лещадністю
              10-15% (кубовидний щебінь).
            </p>
            <p>
              Також дуже важливим фактором є клас міцності нашої продукції - М
              1200-1400 (висока міцність) низька радіоактивність і
              морозостійкість.
            </p>
            <p>
              Наш щебінь використовують при зведенні фундаментів, стін і інших
              залізобетонних виробів, будівництві дорожніх покриттів,
              виготовленні тротуарної плитки та ін.
            </p>
            <p>
              При виробництві щебеневої продукції ми постійно здійснюємо
              контроль за якістю продукції за допомогою лабораторних досліджень
              і чітко дотримується технологічного процесу по відношенню до
              випуску тієї чи іншої фракції.
            </p>
            <h3>
              Якісна характеристика щебеню Шамраївського гранітного кар’єру
            </h3>

            <div class="overflow-auto lg:overflow-hidden">
              <table class="border border-red-600 table-characteristics">
                <tr>
                  <th rowspan="2">№ п/п</th>
                  <th rowspan="2">Найменування показників</th>
                  <th colspan="4">Середні величини показників по фракціям</th>
                </tr>
                <tr>
                  <th>5-10 мм</th>
                  <th>10-20 мм</th>
                  <th>20-40 мм</th>
                  <th>40-70 мм</th>
                </tr>
                <tr>
                  <td>1</td>
                  <td>
                    Дроблення при стисканні в циліндрі (марка по міцності)
                  </td>
                  <td>1200</td>
                  <td>1400</td>
                  <td>1400</td>
                  <td>1400</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>Стирання в поличному барабані (марка по міцності)</td>
                  <td>І-1</td>
                  <td>І-1</td>
                  <td>І-1</td>
                  <td>І-1</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Морозостійкість (марка за морозостійкістю, МРЗ)</td>
                  <td>100</td>
                  <td>100</td>
                  <td>100</td>
                  <td>100</td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>Вміст зерен слабких порід</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>5</td>
                  <td>Зміст пилоподібних і глинистих часток,%</td>
                  <td>0,93</td>
                  <td>0,82</td>
                  <td>0,44</td>
                  <td>0,12</td>
                </tr>
                <tr>
                  <td>6</td>
                  <td>Зміст пластинчастих і голчастих зерен,%</td>
                  <td>30,3</td>
                  <td>26,4</td>
                  <td>18,3</td>
                  <td>16,7</td>
                </tr>
              </table>
            </div>

            <p>
              Кондиційність щебеню всіх фракцій підтверджується багаторічною
              практикою експлуатації власних кар'єрів. За даними радіометричних
              вимірювань, щебінь Шамраївського гранітного кар’єру відноситься до
              1 класу і може використовуватися для всіх видів будівництва без
              обмежень.
            </p>
            <p>
              <strong>Щебінь</strong> - сипучий матеріал, який можна отримати як
              природним, так і штучним шляхом. Створити такий матеріал можна
              завдяки дробленню і подальшого розсіву гірських порід.
            </p>
            <p>
              Одержаний матеріал відокремлюють по фракціям, поділяють також на
              великий гравій, валуни і різне сміття. Всі типи отриманого щебеню
              в подальшому застосовують в цивільних сферах діяльності, а також
              великої промисловості.
            </p>
            <h4>Лещадність</h4>
            <p>
              Це наявність у складі зерен певної форми (пластинчата та
              голковидна). Дана особливість матеріалу дуже важлива, так як
              присутність таких елементів збільшує межзернову пустотність в
              самій суміші, що безпосередньо впливає на сполучний компонент і
              цілісність всієї конструкції в подальшому.
            </p>
            <p>
              З цього випливає, що чим менше значення лещадності, тим якісніше
              буде матеріал. Цим правилом будівельники керуються перед тим, як
              купити щебінь великої фракції з доставкою.
            </p>
            <p>Лещадність ділиться на:</p>
            <ul>
              <li>Перший клас (окатаний) - до 10%;</li>
              <li>Другий клас (форма куба) - 10-15%;</li>
              <li>Третій клас (покращений) - 15-25%;</li>
              <li>Четвертий клас (звичайний) - 25-35%.</li>
            </ul>
            <h4>Радіоактивність</h4>
            <p>
              Перед вибором матеріалу для подальшого проведення всіх необхідних
              будівельних робіт, дуже важливо визначити, до якої за величиною
              сумарної радіоактивності відносять сипучий матеріал.
            </p>
            <p>Існують три типи щебеню з різним ступенем випромінювання:</p>
            <ul>
              <li>
                Перший тип (до 370 Бк / кг) - матеріал широко використовують для
                проведення будівельних робіт різного рівня.
              </li>
              <li>
                Другий тип (370-740 Бк / кг) - даний тип відмінно себе
                зарекомендував у будівництві доріг і автомагістралей, а також в
                промислових роботах.
              </li>
              <li>
                Третій тип (740-1350 Бк / кг) - актуальний в промисловості.
              </li>
            </ul>
            <h4>Морозостійкість</h4>
            <p>
              Ця властивість є ідентифікатором стійкості матеріалу до різних
              перепадів температур. Існують певні марки стійкості до зміни
              температури: F-15, 25, 50, 100, 150, 200, 300, 400. З цього
              списку, для будівництва найкраще підходить матеріал з маркою
              200-400 циклів.
            </p>
            <p>
              Області застосування кожного типу сипучого матеріалу вкрай сильно
              різняться. Наприклад, гранітний щебінь, через міцності фракцій,
              буде корисний як заповнювач бетону високої і середньої щільності.
              Все це важливо і необхідно враховувати при виборі відповідного
              будівельного матеріалу.
            </p>
            <h4>Класифікація та особливості щебеню:</h4>
            <ol>
              <li>
                Гранітний. Граніт отримують за допомогою підриву монолітної
                скелі. Надалі, отриманий елемент за допомогою спеціальної
                техніки дроблять і поділяють за розміром. Гранітний щебінь
                міцний по своїй структурі, якщо порівнювати його з іншими
                класами.
              </li>
              <li>
                Вторинний. Можна отримати завдяки дробленню відходів після
                монтажних робіт. Дешевий тип сировини, особливо при використанні
                його як заповнювач. За багатьма параметрами натуральний сипучий
                матеріал краще, проте вторинний володіє широким спектром
                використання.
              </li>
            </ol>

            <h3>Використання щебеню в дорожньому будівництві</h3>
            <p>
              Щебінь є незамінним матеріалом в цій будівельній галузі. Він
              застосовується на всіх етапах будівництва, а також реконструкції /
              ремонту автомагістралей та автошляхів. Від якості матеріалу
              (щебеню) залежить стійкість і міцність готового дорожнього
              полотна, а також його зносостійкість.
            </p>
            <p>При будівництві доріг застосовуються такі фракції:</p>
            <ul>
              <li>Відсів.</li>
              <li>ЩПС 0-40 (С-5).</li>
              <li>ЩПС 0-70 (С-7).</li>
            </ul>
            <li>ЩПС 0-40 (С-5).</li>
            <p>
              При будівництві доріг на перший рівень укладаються фракції 0-40
              або 0-70, верхній рівень роблять з відсіву. Також з нього роблять
              насипи для будівництва мостів і розв'язок.
            </p>
            <p>
              Без хорошого щебеню неможливо покласти сучасне асфальтове
              покриття, тому при створенні дорожнього полотна слід уважно
              вибирати тип щебеню, щоб фракція, зерновий склад і багато інших
              параметрів повністю відповідали всім вимогам під час будівельних
              робіт. Вже потім можна замислюватися над тим, де купити щебінь
              дрібної фракції з доставкою.
            </p>
            <h3>Застосування граніту по фракціям</h3>
            <p>
              Фракція - розмір найбільшого каменю в щебені. Від значення самої
              фракції залежить те, в якій області буде використовуватися
              матеріал.
            </p>
            <ul>
              <li>
                Гранітний відсів. З відсіву роблять верхній рівень основи перед
                асфальтуванням дороги, його також використовують як основу для
                укладання вуличної плитки, а також при створенні різних
                ландшафтів в саду або у дворі.
              </li>
              <li>
                Дрібна. Дуже популярний матеріал, який використовують для
                виготовлення бетону та бетонних конструкцій, фундаменту і т.п.
              </li>
              <li>
                Середня. Виготовлення бетону і міцних конструкцій, зміцнення
                майданчиків і дорожнього покриття для подальшої роботи на ньому
                габаритної будівельної техніки під час ремонту.
              </li>
              <li>
                Велика. Незамінна річ при роботі з великою кількістю бетонного
                матеріалу, а також створення з цього матеріалу великогабаритних
                конструкцій. Застосовують для створення залізничних шляхів,
                різних невеликих конструкцій.
              </li>
              <li>
                Бут. Даний матеріал можна отримати шляхом підриву покладів
                суцільних порід. Використовують для основи фундаменту, стін і
                т.п. Відходи дроблять і застосовують як бетонний заповнювач.
              </li>
            </ul>
            <h3>Купити щебінь з кар'єра</h3>
            <p>
              Ціна щебеню з кар'єру залежить від багатьох параметрів матеріалу і
              його фракції. На нашому сайті можна не тільки купити гранітний
              щебінь з доставкою, але і отримати інші послуги. Будівельні
              організації знайдуть необхідний щебінь з кар'єра з мінімальними
              для себе витратами за ціною і транспортуванні продукції.
            </p>
            <h4>Щебінь 5-10 ціна в Києві</h4>
            <p>
              Ціна за фракцію щебеню 5-10 становить 280 грн/т тільки на нашому
              сайті. Матеріал має досить широкий спектр застосування, починаючи
              від виготовлення бетону і закінчуючи створенням дорожніх
              покриттів. Доставка щебеню фракції 5-10 здійснюється самоскидами з
              великою вантажопідйомністю.
            </p>
            <h4>Щебінь 10-20 ціна в Києві</h4>
            <p>
              Ціна фракції щебеню 10-20 становить 220 грн/т. Використовується
              під час дорожнього будівництва. Для щебеню даної фракції
              характерні тріщиностійкість, міцність і тривалий термін
              експлуатації. Це відмінні параметри, які високо цінуються в
              дорожньому будівництві. Доставка щебеню фракції 10-20 здійснюється
              в будь-яке місто або регіон України, послугу можна замовити прямо
              у нас на сайті.
            </p>
            <h4>Щебінь 20-40 ціна в Києві</h4>
            <p>
              Ціна фракції щебеню 20-40 становить 162 грн/т. Призначений для
              створення нижнього шару в асфальтовому покритті. Крім того, цю
              фракцію можна застосовувати в різних областях дорожнього
              будівництва. Ціна щебеню 20-40 в Києві з доставкою вказана на
              нашому сайті, ознайомтеся з розцінками в спеціальному розділі.
            </p>
            <h4>Купити щебінь в Києві і області з доставкою</h4>
            <p>
              Ціна продажу щебеню на нашому сайті найвигідніша, серед
              аналогічних ресурсів. Крім того, у нас ви можете купити щебінь з
              доставкою по Києву, а також в будь-який регіон і місто України.
              Купити щебінь в Києві, ціна якого не буде невиправдано високою,
              можна на нашому ресурсі, замовлення оформляється дуже швидко,
              прямо на сайті.
            </p>
          </div>
        </div>
      </section>
    </main>
    <%= require('./../includes/footer.html').default %> <%=
    require('./../includes/defs.html').default %>
  </body>
</html>
