<!DOCTYPE html>
<html>
  <body class="">
    <%= require('./../includes/header.html').default %>
    <main>
      <section class="pt-28 lg:pt-48 mb-16 lg:mb-28">
        <div class="container">
          <h3 class="font-bold text-grey text-4xl mb-6 lg:mb-16">Відсів</h3>

          <div
            class="w-full bg-grey rounded-xl py-10 px-6 lg:pt-12 lg:px-12 lg:pb-16"
          >
            <div
              class="flex flex-col lg:flex-row lg:justify-between lg:mr-28 mb-8"
            >
              <img
                src="/images/fraction-1.png"
                class="w-full h-auto object-cover lg:w-1/2 mb-8 lg:mb-0"
              />
              <div class="lg:w-5/12">
                <p class="flex justify-between mb-5">
                  <span>Ціна </span>
                  <span>100 грн/т</span>
                </p>
                <p class="flex justify-between mb-5">
                  <span>Доставка від 30 тонн</span>
                  <span>1,6 грн/ткм</span>
                </p>
                <p class="flex justify-between mb-5">
                  <span>Модуль крупності</span>
                  <span>2,8</span>
                </p>
                <p class="flex justify-between mb-5">
                  <span>Насипна щільність</span>
                  <span>1420 кг/м3</span>
                </p>
                <p class="flex justify-between mb-8">
                  <span>Міцність</span>
                  <span>1400</span>
                </p>
                <button
                  class="bg-orange font-semibold rounded-lg block py-2 px-12 w-full lg:w-auto fraction-card__button js-modal-call"
                  data-modal-target="modal-order"
                  data-type="vidsiv"
                >
                  Замовити
                </button>
              </div>
            </div>
            <p>
              Гранітний відсів застосовується для виготовлення тротуарної
              плитки, наливної підлоги, тротуарних бордюрів. В дорожньому
              будівництві застосовується під час укладання асфальту, закладення
              зазорів між плитами.
            </p>
          </div>
        </div>
      </section>
    </main>
    <%= require('./../includes/footer.html').default %> <%=
    require('./../includes/defs.html').default %>
  </body>
</html>
